{% include 'header.html' %}
<table class="table table-dark">
    <thead>
        <tr class="table-light fs-5 text-dark">
            <th class="text-center">#</th>
            <th>FOTO</th>
            <th>NOMBRE</th>
            <th colspan="2">CORREO</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td class="text-center">{{empleado.id}}</td>
            <td>
                <img
                    class="profile-pic"
                    width="100"
                    src="userpic/{{empleado.foto}}"
                    alt="Foto de perfil">
            </td>
            <td>{{empleado.nombre}}</td>
            <td>
                <a class="mail-link" href="mailto:{{empleado.correo}}">{{empleado.correo}}</a>
            </td>
            <td class="text-center">
                <a
                    class="btn btn-outline-warning btn-sm p-1"
                    href="/modify/{{empleado.id}}">
                    <span class="material-icons align-middle">
                        edit
                    </span>
                </a>
                <button type="button" class="btn btn-outline-danger btn-sm p-1" data-bs-toggle="modal" data-bs-target="#confirm{{empleado.id}}">
                    <span class="material-icons align-middle">
                        delete
                    </span>
                </button>
            </td>
        </tr>
         <!-- Modal de confirmación -->
         <div class="modal fade" id="confirm{{empleado.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar empleado?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Está seguro que desea eliminar el registro del empleado:<br>#{{empleado.id}} | {{empleado.nombre}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                    <a class="btn btn-danger" href="/delete/{{empleado.id}}">SI</a>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}