* {
    font-family: 'Poppins', sans-serif;
}
td {
    vertical-align: middle !important;
}
tbody {
    font-size: .9em;
    font-weight: 300;
}
form {
    padding: 50px;
    font-size: .9em;
}
.table {
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.7);
}
.profile-pic {
    margin: 10px 0;
}
.mail-link {
    text-decoration: none;
    color: inherit;
}
.btn {
    margin: .5em;
    vertical-align: middle !important;
}